<h1>Looking at the Data... How Green are these States?</h1>


<div class="row">
  <div class="col-md-12">
      <p>T-value: <%= @co2_estimates.t_value %></p>
      <p>Degrees of Freedom: <%= @co2_estimates.deg_freedom %></p>
      <p>Probability with equal variance: <%= @co2_estimates.p_value[0] %></p>
      <p>Probability with non-equal variance: <%= @co2_estimates.p_value[1] %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Washington</h3>
    <p>Average Estimated Emittance: <%= @washington.average_emittance %> lbs CO<sub>2</sub>/mo</p>
    <p>Total Records (n): <%= @washington.count %></p>
    <p>Standard Deviation: <%= @washington.standard_dev %></p>
  </div>
  <div class="col-md-6">
    <h3>Oregon</h3>
      <p>Average Estimated Emittance: <%= @oregon.average_emittance %> lbs CO<sub>2</sub>/mo</p>
      <p>Total Records (n): <%= @oregon.count %></p>
      <p>Standard Deviation: <%= @oregon.standard_dev %></p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <%= column_chart Co2Estimate.joins(:user).merge(User.group(:state)).average(:monthly_emittance) %>

    <%= line_chart [
          {name: "Oregon", data: @oregon.map{|t| [t.user_id, t.monthly_emittance] }},
          {name: "Washington", data: @washington.map{|t| [t.user_id, t.monthly_emittance] }}] %>

  </div>
</div>
