<h1>Check out the data</h1>

<% if @filter_type != nil%>
  <h3 id="about">Sorted by <em><%= @filter_type %></em></h3>
<% end %>

<%= link_to "Lowest", :sort_by => 'lowest' %> |
<%= link_to "Highest", :sort_by => 'highest' %> |
<%= link_to "Alphabetical", :sort_by => 'alphabetical' %> |
<%= link_to "Reverse Alphabetical", :sort_by => 'reverse_alpha' %> |
<%= link_to "Newest", :sort_by => 'newest' %> |
<%= link_to "Oldest", :sort_by => 'oldest' %> 


<% if current_user %>
  <h5><%= link_to "Take the Carbon Emittance Quiz!", new_co2_estimate_path %></h5>
  <hr>
<% end %>

<table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>State</th>
        <th>Estimated Emissions (lbs CO<sub>2</sub>/mo)</th>
        <!-- <th>Average Rating</th> -->
      </tr>
    </thead>
    <tbody>
      <% @co2_estimates.each do |est| %>
        <tr>
          <td><h4><em><%= est.user.name %></em></h4></td>
          <td><%= est.user.state %></d>
          <td><%= est.monthly_emittance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
